.DS_Store
node_modules/
.env
.env.*
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.log
tmp/

*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.db
kubeconfig*
*.key
*.pem
*.crt
defense/
*.ppt
*.pptx
*.pdf
